.THIS .CCCurlab {
  float: left;
  width: 100%;

  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  display: inline-block;
  color: rgb(62, 62, 60);
  font-size: 0.75rem;

  padding-top: 0.25rem;
}
.THIS .mrgTop {
  margin-top: -17px !important;
}
.THIS .mTop {
  margin-top: 5px !important;
}
.THIS .fs {
  font-size: 10px;
}
.THIS .pr {
  padding-right: 0px !important;
}
.THIS .fl {
  float: left;
}
.THIS .fr {
  float: right;
}

.THIS .slds-datepicker {
  display: none;
  visibility: hidden !important;
  opacity: 0;
  height: 0px !important;
}

.THIS .slds-dropdown {
  display: none;
  visibility: hidden;
  opacity: 0;
}
.THIS .slds-dropdown {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.THIS .slds-dropdown-trigger_click.slds-is-open .THIS .slds-dropdown,
.THIS .slds-dropdown-trigger--click.slds-is-open .THIS .slds-dropdown {
  display: none !important;
  visibility: hidden !important;
  opacity: 0;
  height: 0px !important;
}

.THIS .slds-input-has-icon .THIS .slds-input__icon {
  width: 0px !important;
}
.THIS .slds-button_icon-bare,
.THIS .slds-button--icon-bare {
  line-height: 0px !important;
  vertical-align: middle;
  color: var(--lwc-colorTextIconDefault, rgb(112, 110, 107));
  visibility: hidden !important;
}