:root {
  --basic-border-color: #00a1e0;
  --text-background-color: #92d5f0;
}
h5 {
  font-size: 16px;
  color: black;
  background-color: #92d5f0;
  height: 30px;
  padding-top: 15px;
}
.basic-border1 {
  border: 1px solid #00a1e0;
  margin: 1px;
  margin-top: -15px;
}
.content-table,
.summary-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9rem;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
.summary-table {
  margin: 5px;
}
.summary-table tr:last-of-type {
  border-bottom: 0px solid white;
}
.content-table {
  margin-left: 16px;
  margin-right: 10px;
  width: 95%;
}
.content-table thead tr {
  color: black;
  text-align: left;
  font-weight: bold;
}
.table-top {
  margin-top: 10px;
  font-size: small;
}
td {
  padding: 8px 8px;
}

th {
  padding: 5px 5px;
}
.content-table tr:nth-of-type(even) {
  background-color: #f3f3f3;
  font-weight: bold;
}
.tableImg1 {
  border: 1px solid rgb(191, 191, 191);
  border-top: 1px;
}
.tdText {
  border: 1px solid rgb(191, 191, 191);
  height: 20px;
  border-left: 1px;
  border-top: 1px;
}
.tdValue {
  border: 1px solid rgb(191, 191, 191);
  border-left: 1px;
  border-top: 1px;
}
.tdUplineText {
  border: 1px solid rgb(191, 191, 191);
  background-color: rgb(242, 242, 242);
  border-left: 1px;
  border-top: 1px;
}
h3 {
  width: 70%;
  color: white;
  background-color: #00a1e0;
  font-family: sans-serif;
  height: 35px;
  padding-top: 12px;
  margin-left: 1px;
}
.tdText2 {
  border: 1px solid rgb(191, 191, 191);
  background-color: rgb(242, 242, 242);
}
.tdValue2 {
  border: 1px solid rgb(191, 191, 191);
  border-top: 1px;
}
.tdValue3 {
  border: 1px solid rgb(191, 191, 191);
  border-left: 1px;
  border-top: 1px;
}
.sideChar {
  border: 1px solid rgb(191, 191, 191);
  border-radius: 12px;
}
